<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Let's chat</title>
</head>
<body>

<ul id="chat"></ul>


<form>
  Name: 
  <br />
  <input type="text" id="name" />
  <br />
  Message:
  <br />
  <textarea rows="3" cols="80" id="message"></textarea>
  <br />
  <button type="submit">Send</button>
</form>

<script src="/client.js"></script>

</body>
</html>
